@import '../../theme';

@desktopTool-prefix: ~'@{prefix}-desktopTool';

.@{desktopTool-prefix}-strokeMenu {
  background: rgba(255,255,255,1);
  box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.2);
  border-radius: 4px;

  .@{desktopTool-prefix}-colorAndSize {
    display: flex;
    align-items: center;
    padding: 10px;
  }

  .@{desktopTool-prefix}-strokeSelector {
    display: flex;
    align-items: center;
  
    & > div {
      background: rgba(238,238,238,1);
      border-radius: 50%;
      margin-right: 8px;
      cursor: pointer;
  
      &:last-child {
        margin-right: 0;
      }
    }
  }

  .@{desktopTool-prefix}-desktop {
    display: flex;
    align-items: center;
    border-bottom: 1px dashed #eee;
    padding: 0 5px;

    .@{desktopTool-prefix}-desktopItem {
      width: 25px;
      height: 35px;
      margin-right: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      .@{desktopTool-prefix}-rect {
        width: 15px;
        height: 15px;
        border: 1px solid #ccc;
      }

      .@{desktopTool-prefix}-circle {
        width: 15px;
        height: 15px;
        border: 1px solid #ccc;
        border-radius: 50%;
      }
    }
  }

  .@{desktopTool-prefix}-split {
    width: 1px;
    height: 20px;
    background: #E9E9E9;
    margin-left: 10px;
    margin-right: 10px;
  }
}

.@{desktopTool-prefix}-desktop {
  display: flex;
  align-items: center;
  border-bottom: 1px dashed #eee;
  padding: 0 5px;

  .@{desktopTool-prefix}-desktopItem {
    width: 25px;
    height: 35px;
    margin-right: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    .@{desktopTool-prefix}-rect {
      width: 15px;
      height: 15px;
      border: 1px solid #ccc;
    }

    .@{desktopTool-prefix}-circle {
      width: 15px;
      height: 15px;
      border: 1px solid #ccc;
      border-radius: 50%;
    }
  }
}