.drawing-board-cameraTool-strokeMenu {
  background: #ffffff;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.drawing-board-cameraTool-strokeMenu .drawing-board-cameraTool-colorAndSize {
  display: flex;
  align-items: center;
  padding: 10px;
}
.drawing-board-cameraTool-strokeMenu .drawing-board-cameraTool-strokeSelector {
  display: flex;
  align-items: center;
}
.drawing-board-cameraTool-strokeMenu .drawing-board-cameraTool-strokeSelector > div {
  background: #eeeeee;
  border-radius: 50%;
  margin-right: 8px;
  cursor: pointer;
}
.drawing-board-cameraTool-strokeMenu .drawing-board-cameraTool-strokeSelector > div:last-child {
  margin-right: 0;
}
.drawing-board-cameraTool-strokeMenu .drawing-board-cameraTool-camera {
  display: flex;
  align-items: center;
  border-bottom: 1px dashed #eee;
  padding: 0 5px;
}
.drawing-board-cameraTool-strokeMenu .drawing-board-cameraTool-camera .drawing-board-cameraTool-cameraItem {
  width: 25px;
  height: 35px;
  margin-right: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.drawing-board-cameraTool-strokeMenu .drawing-board-cameraTool-camera .drawing-board-cameraTool-cameraItem .drawing-board-cameraTool-rect {
  width: 15px;
  height: 15px;
  border: 1px solid #ccc;
}
.drawing-board-cameraTool-strokeMenu .drawing-board-cameraTool-camera .drawing-board-cameraTool-cameraItem .drawing-board-cameraTool-circle {
  width: 15px;
  height: 15px;
  border: 1px solid #ccc;
  border-radius: 50%;
}
.drawing-board-cameraTool-strokeMenu .drawing-board-cameraTool-split {
  width: 1px;
  height: 20px;
  background: #E9E9E9;
  margin-left: 10px;
  margin-right: 10px;
}
.drawing-board-cameraTool-camera {
  display: flex;
  align-items: center;
  border-bottom: 1px dashed #eee;
  padding: 0 5px;
}
.drawing-board-cameraTool-camera .drawing-board-cameraTool-cameraItem {
  width: 25px;
  height: 35px;
  margin-right: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.drawing-board-cameraTool-camera .drawing-board-cameraTool-cameraItem .drawing-board-cameraTool-rect {
  width: 15px;
  height: 15px;
  border: 1px solid #ccc;
}
.drawing-board-cameraTool-camera .drawing-board-cameraTool-cameraItem .drawing-board-cameraTool-circle {
  width: 15px;
  height: 15px;
  border: 1px solid #ccc;
  border-radius: 50%;
}
